*{
	padding: 0;
	font-family: helvetica;
	text-align: center;
}

a{
	text-decoration: none;
	color: #104E8B;
}
li{
	list-style-type: none;
}
:root{
	--width: 300px;
}
#main_image{grid-area: main_image}
#main_box{grid-area: first_box}
#footer{grid-area: footer}
.copyright{grid-area: copyright}

#container{
	margin: 60px 0;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	"main_image main_image main_box main_box"
	"main_image main_image main_box main_box"
	". footer footer .";
}
.side_image{
	height: 540px;
}

#first_box{
	padding: 8px 10px;
	width: var(--width);
	height: 340px;
	border: 1px solid gray;
}

.log_in{
	width: 250px;
	padding: 10px;
	margin: 5px 0 5px;
	border: none;
	border-radius: 4px;
	border: 1px solid lightgray;
	text-align: left;
}
.submit{
	width: 270px;
	background-color: #00B2EE;
	color: white;
	padding: 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.submit:hover{
	background-color: #0099CC;
}
#second_box{
	width: var(--width);
	padding: 0 10px;
	margin: 20px 0 10px;
	border: 1px solid gray;
}
#third_box{
	padding: 5px 10px;
	width: var(--width);
}
.store_image{
	width: 130px;
	margin: 3px auto 0;
	cursor: pointer;
}
#footer{
	width: 800px;
}
#footer ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#footer ul li{
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: bold;
	padding: 0 5px;
}
